<!DOCTYPE html>
<html lang="{{ site.locale | slice: 0,2 | default: "en" }}">

{% include head.html %}

  <body id="page-top">

      {{ content }}

	  {% include footer.html %}

	  <!-- Bootstrap core JavaScript -->
	  <script src="assets/js/jquery.min.js"></script>
	  <script src="assets/js/bootstrap.bundle.min.js"></script>

	  <!-- Plugin JavaScript -->
	  <script src="assets/js/jquery.easing.min.js"></script>

	  <!-- Contact form JavaScript -->
	  <script src="assets/js/jqBootstrapValidation.js"></script>
	  <script src="assets/js/contact_me.js"></script>

	  <!-- Custom scripts for this template -->
	  <script src="assets/js/agency.min.js"></script>

	  <script charset="UTF-8" class="daum_roughmap_loader_script" src="https://ssl.daumcdn.net/dmaps/map_js_init/roughmapLoader.js"></script>
	  <!-- 3. 실행 스크립트 -->
	  <script charset="UTF-8">
		new daum.roughmap.Lander({
	      "timestamp" : "1646636065971",
		  "key" : "29dt8",
		  "mapWidth" : "640",
		  "mapHeight" : "360"
		}).render();
	  </script>
  </body>
</html>